.btnXS {
  height: 25px;
  line-height: 25px;
  padding: 0 8px;
  font-size: 12px !important;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.btnS {
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  font-size: 13px !important;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.btnD {
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  font-size: 14px !important;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.btnB {
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  font-size: 15px !important;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
